<% content_for :title do %>
  <%= @main_category.name.capitalize %> | Aer de Vacanta
<% end %>

<header class="page-header page-header-dark bg-img-cover overlay overlay-40" style="max-height: 15rem; background-image: url(<%= @main_category.image %>)">
  <div class="page-header-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="page-header-title mb-3"><%= @main_category.name.capitalize %></h1>
          <p class="page-header-text mb-0"><%= @main_category.description %></p>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="bg-light pb-2 pt-5">
  <div class="container">
    <div class="row">

      <% @articles.each do |category| %>

        <% %>
        <% category.articles.each do |article| %>
          <div class="col-md-6 col-xl-4 mb-5">
            <div class="card no-gutters post-preview lift h-100" style="max-width: 25rem;">
              <%= link_to article_path(article.slug) do %>
                <img class="card-img-top" src="<%= article.intro_photo %>" alt="..." style="width: 25rem; height: 12rem; object-fit: cover;"/>
              <% end %>
              <%= link_to category_path(article.category.slug), class: "text-left mt-2 ml-2" do %>
                <h4 class="badge badge-dark text-uppercase py-1 px-2"><%= article.category.name %></h4>
              <% end %>
              <div class="card-body">
                <%= link_to article_path(article.slug) do %>
                  <h5 class="card-title text-info"><%= article.title %></h5>
                <% end %>
                <p class="card-text text-muted"><%= article.introduction %></p>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="post-preview-meta">
                  <img class="post-preview-meta-img" src="<%= article.author.avatar %>" alt="author image">
                  <div class="post-preview-meta-details">
                    <div class="post-preview-meta-details-name"><%= article.author.name %></div>
                    <div class="post-preview-meta-details-date text-info"><%= article.date.strftime("%d %b") %>
                    </div>
                  </div>
                </div>
                <div class="text-info">
                  <%= link_to article_path(article.slug, anchor: "comments") do %>
                    <i class="far fa-comments text-dark"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


  </div>
</section>